body {
    background-color: #000; /* Путь к изображению фона */
    background-size: cover; /* Растянуть изображение фона на всю область */
    background-position: center; /* Центрировать изображение фона */
    font-family: 'Press Start 2P', cursive; /* Использовать шрифт "Press Start 2P" для всего текста */
}

h1 {
    text-align: center; /* Выравнивание заголовка по центру */
    color: #fff; /* Белый цвет текста */
}

ul {
    list-style-type: none; /* Удаление маркера списка */
    padding: 0; /* Удаление внутреннего отступа у списка */
    text-align: center; /* Выравнивание списка по центру */
}

li {
    margin: 20px 0; /* Внешний отступ у элементов списка */
}

li a {
    display: inline-block; /* Превращаем ссылки в блочные элементы */
    text-decoration: none; /* Удаление подчеркивания у ссылок */
    color: #fff; /* Белый цвет текста ссылок */
    padding: 10px 20px; /* Поля вокруг текста ссылок */
    border: 1px solid #fff; /* Белая рамка вокруг ссылок */
    border-radius: 5px; /* Закругление углов рамки */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон для ссылок */
    transition: background-color 0.3s, color 0.3s; /* Плавное изменение цвета фона и текста */
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон при наведении на ссылку */
    color: #000; /* Черный цвет текста при наведении на ссылку */
}

